/* ====== css reset =====  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* ====== custom designing  start =====  */

html {
  font-size: 10px;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* border:2px solid red; */
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border:2px solid yellow; */
}
/* ====== custom designing  end =====  */

/* ====== nav designing start =====  */

.nav-logo {
  width: 2rem;
}

.nav-logo 
img {
  width: 100%;
  max-width: 100%;
  /* border: 2px solid black; */
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  /* border:2px solid rgb(16, 65,228); */
}

.nav-open-icon {
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
}

.nav-close-icon {
  font-size: 3.5rem;
  color: #eb648c;
  cursor: pointer;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  position: fixed;
  background-color: #d7d4ed;
  top: 0;
  right: -26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1500;
  transition: all 650ms ease-in-out;
  /* border:2px solid rgb(16, 65,228); */
}

.nav-list.active {
  right: 0;
}

.nav-close-icon {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.nav-link:hover {
  color: white;
}
/* ====== nav designing end =====  */

/* ====== media query start =====  */

@media screen and (min-width: 768px) {
  .nav-list {
    width: initial;
    height: initial;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transform: initial;
    background-color: initial;
    transition: initial;
  }

  .nav-open-icon,
  .nav-close-icon {
    display: none;
  }
  .nav-item {
    margin: 0 2.5rem;
  }

  .nav-link {
    color: blue;
    font-size: 1.5rem;
  }
  .current{
    color: white;

  }
}

/* ====== media query end =====  */
